.form{
    background-color: white;
    margin: 50px auto;
    width:500px;
    padding: 20px 30px;
}
.form input{
    width: 450px;
    height:50px;
    border:none;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}
.submit-btn{
    width: 450px;
    height:50px;
    padding: 10px auto;
    background-color:orange;
}
 p{
    text-align: center;
}
.or{
    text-align: center;
    color: white;
    font-size: 20px;
}
.btn{
    width: 350px;
    height:40px;
    padding: 7px auto;
    margin-bottom:10px ;
    background-color:orange;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}
@media screen and (max-width:720px){
    .form{
        width:300px;
    }
    .form input{
        width:250px;
    }
    .btn{
        width:320px;
        font-size: 15px;
    }
}